<h1> A potential client reached out </h1>

<p> Name: <%= @contact.first_name %> <%= @contact.last_name %></p>
<p> Email: <%= @contact.email %></p>
<p> Subject: <%= @contact.subject %></p>
<p> Message: <%= @contact.message %></p>
