<div class="row">

        <div class="col-lg-4">
          <div class="image-wrap-2">
            <div class="image-info">
              <h2 class="mb-3">Architecture</h2>
              <%= link_to "More Photos", search_home_path(tag: :architecture), class: "btn btn-outline-white py-2 px-4" %>
              <a href="single.html" class="btn btn-outline-white py-2 px-4">More Photos</a>
            </div>
            <%= image_tag "img_1.jpg", alt: 'Image', class: "img-fluid" %>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="image-wrap-2">
            <div class="image-info">
              <h2 class="mb-3">Animals</h2>
              <a href="single.html" class="btn btn-outline-white py-2 px-4">More Photos</a>
            </div>
            <%= image_tag "img_1.jpg", alt: 'Image', class: "img-fluid" %>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="image-wrap-2">
            <div class="image-info">
              <h2 class="mb-3">Sports</h2>
              <a href="single.html" class="btn btn-outline-white py-2 px-4">More Photos</a>
            </div>
            <%= image_tag "img_1.jpg", alt: 'Image', class: "img-fluid" %>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="image-wrap-2">
            <div class="image-info">
              <h2 class="mb-3">Travel</h2>
              <a href="single.html" class="btn btn-outline-white py-2 px-4">More Photos</a>
            </div>
            <%= image_tag "img_1.jpg", alt: 'Image', class: "img-fluid" %>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="image-wrap-2">
            <div class="image-info">
              <h2 class="mb-3">People</h2>
              <a href="single.html" class="btn btn-outline-white py-2 px-4">More Photos</a>
            </div>
            <%= image_tag "img_1.jpg", alt: 'Image', class: "img-fluid" %>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="image-wrap-2">
            <div class="image-info">
              <h2 class="mb-3">Architecture</h2>
              <a href="single.html" class="btn btn-outline-white py-2 px-4">More Photos</a>
            </div>
            <%= image_tag "img_1.jpg", alt: 'Image', class: "img-fluid" %>
          </div>
        </div>

      </div>