<% @presets.each do |preset| %>
  <div class="d-flex p-4 align-items-center">
    <%= link_to preset_path(preset) do %>
      <%= image_tag rails_blob_url(preset.file.variant(:thumb)) %>
    <%- end %>
    <div class="d-block ms-5">
      <p>Title: <%= preset.title %></p>
      <p>Price: $<%= preset.price %></p>
      <%= button_to "Add to wallet" %>
    </div>
  </div>
<% end %>
