<!DOCTYPE html>
<html>
  <%= render "shared/navigation/head" %>

  <body>
    <%= render "shared/navigation/mobile_menu" %>
    <%= render "shared/navigation/header" %>

    <div class="container-fluid" data-aos="fade" data-aos-delay="500">
      <%= yield %>
    </div>

    <%= render "shared/navigation/footer" %>
    </div>
  </div>
    <%= render "shared/navigation/scripts" %>
  </body>
</html>
